<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>luceneWeb</display-name>

	<servlet>
		<servlet-name>searcher</servlet-name>
		<servlet-class>edu.papei.lucene.controller.SearcherController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>indexer</servlet-name>
		<servlet-class>edu.papei.lucene.controller.IndexerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexer</servlet-name>
		<url-pattern>/indexer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>viewer</servlet-name>
		<servlet-class>edu.papei.lucene.controller.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewer</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
</web-app>